# Bật mod_rewrite
RewriteEngine On

# Điều kiện để không rewrite cho các tệp tĩnh như hình ảnh, CSS
RewriteCond %{REQUEST_URI} !\.(css|jpg|jpeg|png|gif|webp|svg)$ [NC]

# Quy tắc rewrite cho các yêu cầu còn lại
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Cấp quyền cho các tệp CSS và hình ảnh
<FilesMatch "\.(css|jpg|jpeg|png|gif|webp|svg)$">
    Require all granted
</FilesMatch>

# Cấu hình cho tệp CSS
<FilesMatch "\.css$">
    Header set Content-Type "text/css"
</FilesMatch>   
