body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

#forgot-password-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.title {
    color: #527A9A;
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.description {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #527A9A;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #003d80;
}

.input-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
}

.status-text {
    font-size: 0.8rem;
    color: green;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 15px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.toggle-password i {
    color: #333;
    width: 20px;
    height: 20px;
}

.toggle-password i:hover {
    color: #527A9A;
}

.breadcrumb {
    background-color: transparent;
    font-size: 16px !important;
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Times New Roman', Times, serif;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item, .active {
    font-weight: bold;
    color: #007bff;
}

a {
    position: relative;
    z-index: 10000;
}

.signin-text {
    position: absolute;
    bottom: -10%;
    right: 0px;
    transform: translateY(100%);
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.signin-text a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    #forgot-password-container {
        padding: 15px;
    }

    .title {
        font-size: 28px;
    }

    .description {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    #forgot-password-container {
        padding: 10px;
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 0.75rem;
    }
}