a{
    text-decoration:none;
}
body,html{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}
main{
    width: 100%;
    height:100%;
    background-color: aqua;
    position: relative;
    background-image: url('http://localhost/Black-Aries-Project/public/images/Mask Group.jpg');
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);  /* Lớp phủ trắng với độ mờ */
    z-index: 1;  /* Đảm bảo lớp phủ nằm dưới nội dung */
}
.logol{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 18px;
}
.logol hr{
    flex:1;
}
.lg-logo{
    width:282px;
    height:121px;
    margin: 12px 6px;
    margin-bottom: 0;
}
.lg-logo img {
    width: 100%;
    height:100%;
}
.lg-content{
    width:521px;
    padding: 10px 21px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1000;
}
.lg-content >p {
    margin:0;
    padding:0;
    font-size:30px;
    font-weight:bold;
    margin-left:0px;
}
.p1{
    color:gray;
}
.p2{
    color:black;
}
.lg-content form{
    margin-top:30px;
}
.lg-content  label {
    display:flex;
    position: relative;
}
.lg-content input{
    flex:1;
    border:none;
    outline:none;
    height:33px;
    /*background-color: #FDF7F2;*/
    border-radius:5px;
    margin-bottom: 21px;
    border-bottom: 1px solid gray;;
}
.lg-content  label a {
    position:absolute;
    bottom:-5%;
    right: 0px;
    transform: translateY(100%);
}
.lg-flex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.lg-content button{
   padding: 15px 90px;
   background-color:#527A9A;
   color:white;
   border-radius:9px;
   margin-top:51px; 
   border:none;
}
.lg-content .lg-su{
   padding: 15px 90px;
   color:black;
   border-radius:9px;
   margin-top:15px; 
   border:none;
}
.breadcrumb {
    background-color: transparent;
    font-size: 16px;
    display:flex;
    list-style-type:none;
    position:absolute;
    top:0;
    left:0
    }
.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}
.breadcrumb-item, .active {
font-weight: bold;
color: #007bff;
}
a{
    position: relative;
    z-index: 10000;
}